@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
    color: darkgray;
}

header {
    display: grid;
    grid-template-columns: 300px auto;
    background-color:rgba(20,30,13, .7);
}

main section img {
    text-align: center;
    box-sizing: border-box;
}

#logo_link {
            padding-top: 5px;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#hero-msg h1, #hero-msg h4 {
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto, serif";
    color:rgba(20,30,13, .7)
}

h2 {
    margin: 0 auto;
    font-family: "Roboto, serif";
}

.book:hover, .join:hover {
    color: chocolate;
}

.msg h2 {
    color: brown;
}

.card-img {
    border: 10px solid #d9c2a3;    
}

nav {
    text-align: center;
    padding: 35px;
    background-color: steelblue;
    padding: 25px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

.icon {
    width: 80px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.book, .join {
    text-align: center;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.rivers-card,  .camping-card, .rapid-card {
    margin: 200px 0;
}

a {
    color: white;
    padding: 25px;
}

#background {
    background-color: burlywood;
    height: 725px;
}

.msg{
    background-color: #6f7364;
    line-height: 1.5em;
    text-align: center;
    padding: 35px;
    border: 10px solid black;
}

.msg p {
    padding-bottom: 15px;
    color: darkblue
}

.img p {
        padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer p a:hover {
    text-decoration: underline;
    text-size-adjust: 1.2em;
}

footer h3 {
    text-decoration: none;
    color: black
}

footer h3 a:hover {
    text-decoration: none;
    color: black;
}

footer a {
    text-decoration: none;
    color: black
}

footer a:hover {
    color: black
}

footer .social {
    background-color: steelblue;
    color: white;
    padding-top: 15px;
}