.content{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}
#background{
    height: 725px;
}
.bgClear{
    display: flex;
    justify-content: left;
}

.msg{
    background-color: darkgoldenrod;
    text-align: center;
}