@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.content{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

#logo_link {
            padding-top: 5px;
}

h1 {
    font-family: "Roboto, serif";
    margin: 50px 0;
}

h4 {
    font: "serif"
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

img {
    border: 4x solid steelblue;
}

nav {
    padding: 35px;
    background-color: steelblue;
    padding: 25px;
}

.book, .join {
    margin-top: 50px;
    padding: 15px 30 px;
}

.rivers-card,  .camping-card, .rapid-card {
    margin: 200px 0;
}

a {
    color: white;
    padding: 25px;
}

#background{
    height: 725px;
}
.bgClear{
    display: flex;
    justify-content: left;
}

.msg{
    background-color: #6f7364;
    line-height: 1.5em;
    text-align: center;
    padding: 35px;
}

.msg p {
        padding-bottom: 15px;
}

.img p {
        padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social {
    background-color: steelblue;
    color: white;
    padding-top: 15px;
}