.content{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}
nav {
    background-color: steelblue;
}
a {
    color: white;
}

#background{
    height: 725px;
}
.bgClear{
    display: flex;
    justify-content: left;
}

.msg{
    background-color: darkgoldenrod;
    text-align: center;
}
footer {
    background-color: steelblue;
    color: white;
}

footer p{
    padding: 25px;
}
h1 {
    margin: 50px 0;
}

