@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.content{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}

h1 {
font-family: "Roboto, Arial, serif"

}

h4 {
    font: "serif"
}

body {
    margin: 0;
}

img {
    border: 4x solid steelblue;
}

nav {
    background-color: steelblue;
    padding: 25px;
}

a {
    color: white;
    padding: 25px;
}

#background{
    height: 725px;
}
.bgClear{
    display: flex;
    justify-content: left;
}

.msg{
    background-color: darkgoldenrod;
    text-align: center;
}

footer {
    background-color: steelblue;
    color: white;
}

footer p{
    padding: 25px;
}

h1 {
    margin: 50px 0;
}